.featured {
  flex: 2;
 
  padding: 10px;

  .wrapper {
    padding: 20px;
   
    align-items: center;
    justify-content: center;
    gap: 15px;

    .featuredChart {
     width: 100%;
     height: 300px;
    
    
    
    
      .pie-chart {
     
      
        .pie{
          width: 100%;
         height: 100%;
     
        }
      }
    }
  }
}
